@import url('../Frontend/css/playicon.css');
body{
    background: rgba(245, 126, 47, 0.712) !important;
}
#fondoL{
    background: url('../Data_Add/Logros.jpg');
    width: 100%;
    height: 50%;
    
}
.table th, .table td { 
    border-top: none !important; 
    border-left: none !important;
  


   } 
.table td {
    padding: 3.5rem !important;
    vertical-align: top;
    padding-left: 6rem !important;
    border-radius: 65px 68px 200px 0px;
    -moz-border-radius: 65px 68px 200px 0px;
    -webkit-border-radius: 65px 68px 200px 0px;
   border: none;
  }
  @media(max-width: 575.98px){
    .table td {
        padding: 2rem !important;
        vertical-align: top;
        padding-left: 4rem !important;
        border-top: 1px solid #dee2e6;
      }
    
  }

  @media(max-width: 767.98px){
    .table td {
        padding: 1.5rem !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
    
  }
  @media(max-width:  991.98px){
    .table td {
        padding: 2rem !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
    
  }
  @media(max-width: 1199.98px){
    .table td {
        padding: 2.5rem !important;
        padding-left: 4rem !important;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
    
  }


#juego {
    opacity: 0.3;
 
}
table{
    border: black solid 4px;
}

  
table {
    width:0%  !important;
    height: 50%;
    border:none !important;
}





td {
  
    background-color: #3498DB;
    border: 3px solid black;
    border-radius: 5px;
}

.letra {
    color: white;
    font-size: 32px;
    text-align: center;
    font-style: italic;
}

